@model IEnumerable<UniProject.Models.IMS.PropertyIMS>
@{
    ViewBag.Title = "ListProperty";
    Layout = "~/Views/Shared/_IMS_Layout.cshtml";
}

<h2>List of Properties</h2>

@foreach(var prop in Model)
{
    @Html.ActionLink(prop.Name + " - " + prop.City, "DetailProperty", "IMS", new { id = prop.Id }, new { @class = "p-2 text-dark" })<hr />
}
